@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: #2d3b51;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 50%;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  flex-direction: row;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: all 500ms ease-in-out;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-color: transparent;
  flex: 1;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}

.slide1.active {
  flex: 10;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide1.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}

.slide1.active > * {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1:not(.active) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  right: auto;
  z-index: 1;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
